.sec2{
    padding-top: 90px;
}

#p3{
    color: #7cd438;
    font-weight: 500;
    font-size: 20px;
}

#p4{
    color: white;
    font-weight: 600;
    font-size: 45px;
}

#p5{
    color: white;
    font-size: 18px;
}

